*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  background: #000;
  color: #333;
  width: 100%;
  min-width: 320px;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}
